{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/dreams/dream-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>YOUR DREAMS</h1>
</section>

<div class="card-container">
  {% for dream in dreams %}
    <div class="card">
      <a href="{% url 'dream-detail' dream.id %}">
        <div class="card-content">
          <div class="dream-info">
            <h2 class="card-title">{{ dream.title }}</h2>
            <p>Type of dream: {{ dream.str_type }}.</p>
            <p><small>{{ dream.date }}</small></p>
          </div>
          <div class="card-img-container">
            <img 
            src="{% static "images/dreamcatcher4.png" %}"
            alt="Catch-a-Dream Logo"
            >
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
  </div>

{% endblock %}